Source: clangen
Package: clangen
Version: 0.8.3
Architecture: amd64
Maintainer: sablesteel <noemail@null.com>
Description: Fan-edit of the warrior cat clangen game
Section: games
Homepage: https://github.com/Thlumyn/clangen
Depends: libc6 (>= {glibc}), zlib1g (>= 1:1.1.4)
